name: Build MyProject
on:
  push:
    branches:
       - main
jobs:
  Tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install NodeJS
        uses: actions/setup-node@v3
      - name: Do tests
        run: |
          cd src
          npm i
          npm test
        env:
          DB_URL: ${{ secrets.DB_URL }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_NAME: ${{ secrets.DB_NAME }}

  Builds:
    needs: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Login to dockerhub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_LOGIN }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker BUILDX
        uses: docker/setup-buildx-action@v2
      - name: Create Docker Images and Push
        uses: docker/build-push-action@v4
        with:
          file: deploy/prod/Dockerfile
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: kilianpichard/devsecops:latest

  deploy:
    needs: Builds 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install SSH client
        run: sudo apt-get update && sudo apt-get install openssh-client -y

      - name: Setup SSH
        run: |
          echo "${{ secrets.EC2_SSH }}" > private_key && chmod 600 private_key
          
      - name: SSH and run script
        run: ssh -o StrictHostKeyChecking=no -i private_key ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} "doas ./scripts/mds-devsecops/update-mds-devsecops"

